{
  "presets": ["next/babel"],
  "plugins": [
    ["styled-components", { "ssr": true }],
    ["import-graphql"],
    [
      "module-resolver",
      {
        "alias": {
          "components": "./components",
          "data": "./data",
          "utils": "./utils"
        }
      }
    ]
  ]
}
