{
  "parser": "babel-eslint",
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": ["react", "prettier"],
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],
  "rules": {
    "react/prop-types": 1
  }
}
